.add-item {
    background-color: var(--bg-card);
    width: 86.5rem;
    height: 400px;
}

form.add-item input {
    max-width: 42rem;
    width: 100%;
    font-size: 1.8rem;
}

div.modal-overlay form.add-item button.category-toggle {
  height: 100%;
  border: 1px solid var(--apply-button-bg);
  border-radius: 6px;
  background-color: var(--apply-button-bg);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 8.5rem;
}

.category-toggle:hover {
  background-color: var(--apply-button-bg-hover);
}