header {
    height: 4.6rem;
    background-color: var(--bg-card);
    color: var(--text-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar {
    height: 100%;
    
    display: flex;
    align-items: center;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    margin: 0 2rem;
}

.nav-container, header ul {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-container {
    width: 100%;
    justify-content: space-between;
}


header li {
    list-style: none;
    height: 100%;
}

header li a {
    color: var(--text-primary);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 1.3rem;
    transition: color 0.2s;
}

header li a:hover {
    color: #919498;
}

svg {
    width: 1.7rem;
    height: 1.7rem;
}

.vertical-line {
    width: 1px;
    border-left: solid 1px gray;
    height: 50%;
}

svg.plus-svg {
    width: 2rem;
    height: 2rem;
}