.filter-panel-container {
    width: 25%;
    height: fit-content;
    background-color: var(--bg-card);
    border: 1px solid var(--border-card);
    border-radius: 1rem;
    text-align: left;
}

form[class="filter-panel-container"] input.search-bar {
  width: 100%;
  max-width: 100%;
  margin: 0 1rem;
}

.filter-panel-title {
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.filter-panel-inner {
    padding: 1rem;
    padding-top: 0;
    display: flex; /* Заменить на грид */
    flex-direction: column;
    gap: 1.5rem;
}

.filter-panel-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter-inputs-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.block-label {
  display: block;
    
}

form.filter-panel-container fieldset {
  border: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

form.filter-panel-container select, 
form.filter-panel-container input, 
form.filter-panel-container button {
  max-width: 14.8rem;
}

form.filter-panel-container input::placeholder {
  color: var(--input-placeholder);
}

form.filter-panel-container select:hover, 
form.filter-panel-container button:hover {
  cursor: pointer;
}

form.filter-panel-container select:focus, 
form.filter-panel-container input:focus, 
form.filter-panel-container button:focus {
  outline: none;
  border-color: var(--input-border-focus);
  background-color: #222631; /* немного ярче при фокусе */
}